<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2024 Konul E-commerce Platform</p>
</footer>
<div th:fragment="footer">
    <div class="footer mt-5">
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-6 col-lg-3 text-center pr-5">
                    <h5 class="font-weight-bold">SUBSCRIBE</h5>
                    <p>get information about new sales, discounts and promos</p>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control rounded-pill text-center footer-input" placeholder="Enter your email">
                        </div>
                        <button type="button" class="btn btn-primary btn-block rounded-pill">SUBSCRIBE</button>
                    </form>
                </div>
                <div class="col-6 col-lg-3 pl-3">
                    <h6 class="font-weight-bold">Customer Service</h6>
                    <div class="list-group list-group-flush list-group-no-border list-group-sm">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Help Center</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">How to buy</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Delivery</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">How to return</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Payment Method</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Shipping Method</a>
                    </div>
                </div>
                <div class="col-6 col-lg-3 pl-3">
                    <h6 class="font-weight-bold">ShoppersZone</h6>
                    <div class="list-group list-group-flush list-group-no-border list-group-sm">
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">About Us</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Privacy Policy</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Our Story</a>
                        <a href="javascript:void(0)" class="list-group-item list-group-item-action">Services</a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 pl-3">
                    <h6 class="font-weight-bold ">Contact us</h6>
                    <div class="list-group list-group-flush list-group-no-border list-group-sm">
                        <span class="list-group-item"><strong>Phone:</strong> +12345678910</span>
                        <span class="list-group-item"><strong>Email:</strong> kshop@gmail.com</span>
                        <span class="list-group-item"><strong>Mon-Fri:</strong> 9.00 am - 6.00 pm</span>
                        <span class="list-group-item"><strong>Saturday:</strong> 10.00 am - 5.00 pm</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>